# True for development, False for production
DEBUG=True

# Only enable this if you need the original Wagtail publish functionality
ENABLE_WAGTAIL_PUBLISH=False

SECRET_KEY=<STRONG_KEY_HERE>

# Root URL for the CRM.
# Should not end with a trailing slash.
CRM_ROOT=https://www.advisorcrm.net

# The secret key used to authenticate API requests to the CRM
CRM_API_KEY=verystrongkey

# A comma-separated list of keys to accept for the integration API.
# This should be replaced with some sort of JWT key system in the future.
INTEGRATION_API_KEYS="SOME_KEY,ANOTHER_KEY"

# DB_ENGINE=mysql
# DB_HOST=localhost
# DB_NAME=appseed_db
# DB_USERNAME=appseed_db_usr
# DB_PASS=pass
# DB_PORT=3306