body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  position: relative;
  background-color: #fff;
  scroll-behavior: smooth;
}

.body-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
}

@media only screen and (max-width: 768px) {
  .body-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 0px;
  }
}
