{% load static %}

<script src="{% static 'js/core/popper.min.js' %}"></script>
<script src="{% static 'js/core/bootstrap.min.js' %}"></script>
<script src="{% static 'js/plugins/perfect-scrollbar.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.5.2/perfect-scrollbar.min.js"></script>
<script src="{% static 'js/plugins/smooth-scrollbar.min.js' %}"></script>
{#<script src="{% static 'js/dark-mode-handler.js' %}"></script>#}


<script src="{% static 'js/libs/axios.min.js' %}" defer></script>
{#<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.12.1/dist/cdn.min.js"></script>#}
<script defer src="{% static 'js/libs/alpine.min.js' %}"></script>