{% load wagtailcore_tags wagtailimages_tags %}

<div class="container-fluid p-0 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for item in value.slide %}
            <div class="carousel-item{% if forloop.first %} active{% endif %}">
                {% image item.background_image original class="w-100 img-fluid" height="auto" %}
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-lg-8">
                                <p class="d-inline-block border border-white rounded text-primary fw-semi-bold py-1 px-3 animated slideInDown">{{ item.description }}</p>
                                <h1 class="display-1 text-heading mb-4 animated slideInDown">{{ item.title|safe }}</h1>
                                <a href="{{ item.cta_url }}" class="btn btn-primary bg-cta py-3 px-5 animated slideInDown">{{ item.cta_text|safe }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
