{% extends 'admin/layouts/base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <div class="container-fluid">
       {% block pagetitle %}
            {% include "admin/includes/page-title.html" with  title="Dashboard" %}
        {% endblock pagetitle %}

        <div class="row">
            <div class="col-md-4">
                <div class="card card-animate">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div>
                                <p class="fw-medium text-muted mb-0">Total Tenants</p>
                                <h2 class="mt-4 ff-secondary fw-semibold"><span class="counter-value"
                                                                                data-target="28.05">0</span>k</h2>
                                <p class="mb-0 text-muted"><span class="badge bg-light text-success mb-0"> <i
                                        class="ri-arrow-up-line align-middle"></i> 16.24 % </span> vs. previous month
                                </p>
                            </div>
                            <div>
                                <div class="avatar-sm flex-shrink-0">
                                    <span class="avatar-title bg-soft-info rounded-circle fs-2">
                                        <i data-feather="users" class="text-info"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div><!-- end card body -->
                </div> <!-- end card-->
            </div> <!-- end col-->

            <div class="col-md-4">
                <div class="card card-animate">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div>
                                <p class="fw-medium text-muted mb-0">Products</p>
                                <h2 class="mt-4 ff-secondary fw-semibold"><span class="counter-value"
                                                                                data-target="97.66">0</span>k</h2>
                                <p class="mb-0 text-muted"><span class="badge bg-light text-danger mb-0"> <i
                                        class="ri-arrow-down-line align-middle"></i> 3.96 % </span> vs. previous month
                                </p>
                            </div>
                            <div>
                                <div class="avatar-sm flex-shrink-0">
                                    <span class="avatar-title bg-soft-info rounded-circle fs-2">
                                        <i data-feather="user-check" class="text-info"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div><!-- end card body -->
                </div> <!-- end card-->
            </div> <!-- end col-->

            <div class="col-md-4">
                <div class="card card-animate">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div>
                                <p class="fw-medium text-muted mb-0">Incoming Products</p>
                                <h2 class="mt-4 ff-secondary fw-semibold"><span class="counter-value"
                                                                                data-target="97.66">0</span>k</h2>
                                <p class="mb-0 text-muted"><span class="badge bg-light text-danger mb-0"> <i
                                        class="ri-arrow-down-line align-middle"></i> 3.96 % </span> vs. previous month
                                </p>
                            </div>
                            <div>
                                <div class="avatar-sm flex-shrink-0">
                                    <span class="avatar-title bg-soft-info rounded-circle fs-2">
                                        <i data-feather="user-minus" class="text-info"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div><!-- end card body -->
                </div> <!-- end card-->
            </div> <!-- end col-->
        </div> <!-- end row-->
    </div>
{% endblock content %}

