{% extends 'admin/layouts/base.html' %}
{% load main_tags %}
{% load static %}
{% load main_tags %}
{% block title %}Udate Admin{% endblock %}
{% block content %}
    <div class="container-fluid">
        {% block pagetitle %}
            {% include "admin/includes/page-title.html" with  title="Demo User" %}
        {% endblock pagetitle %}

        {% include 'admin/components/message.html' %}

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Change Password
                    </div>
                    <div class="card-body">
                        <form action="{% url 'update_showcasher' demo_user.id  %}" method="post">
                            {% csrf_token %}
                            <div class="mt-1">
                                <label for="password" class="form-label">Password</label>
                                <input required type="password" name="password" class="form-control" id="password">
                            </div>

                            <div class="mt-4 text-center">
                                <button class="btn btn-danger" type="submit">Change Password</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extrajs %}

{% endblock extrajs %}